In [3]:
def hello():
    print("hello")
hello ()

hello

In [4]:
def adding():
    A = 1+2
    print(A)
adding()

3

In [5]:
def multi(a,b):
    c = a*b
    print(c)
multi(2,4)

8

In [6]:
def multi(a,b):
    if a > b :
        c = a*b
        print(c)
    else:
        c = a**b
        print(c)
multi(5,2)
multi(2,3)

10
8

In [8]:
def family_name(nam):
    print(f"My name is {nam} Rout")
family_name("Subham")
family_name("Suresh")
family_name("Swarnalata")
family_name("Subhendu")

My name is Subham Rout
My name is Suresh Rout
My name is Swarnalata Rout
My name is Subhendu Rout

In [14]:
def fsport(*sport):
    print(f"My favourite sport is {sport[3]}")
fsport("circket","basketball","volleball","handball","tennis")

My favourite sport is handball

In [19]:
def ffruits(f1,f2,f3,f4):
    print(f"My favourite fruit is {f2}")
ffruits(f1="Apple", f2="Mango", f3="Orange", f4="Banana")

My favourite fruit is Mango

In [22]:
def lpair(**couple):
    print("the newly weds are " + couple["groom"] , " & " + couple["bride"] )
lpair(groom="Virat", bride="Anushka")

the newly weds are Virat  & Anushka

In [23]:
def mystate(state = "Madhya Pradesh"):
    print(f"My currect living state is {state}")
mystate("Delhi")
mystate("Odisha")
mystate("Kerela")
mystate()
mystate("Punjab")
mystate("Haryana")

My currect living state is Delhi
My currect living state is Odisha
My currect living state is Kerela
My currect living state is Madhya Pradesh
My currect living state is Punjab
My currect living state is Haryana

In [25]:
def nums(nnums):
    for n in nnums:
        print(n)
wnum = (1,2,3,4,5,6,7,8,9,0)
nums(wnum)

1
2
3
4
5
6
7
8
9
0

In [30]:
def nums(nnums):
    for n in nnums:
        print(n)
wnum = (1,2,3,4,5,6,7,8,9,0)
rnums = wnum[::-1]
nums(rnums)

0
9
8
7
6
5
4
3
2
1

In [31]:
def tableof2(t):
    return 2*t
print(tableof2(1))
print(tableof2(2))
print(tableof2(3))
print(tableof2(4))
print(tableof2(5))

2
4
6
8
10

In [32]:
def numb(x):
    print(x)
numb(5)

5

In [33]:
def numb(x):
    print(x)
numb(x = 6)

6

In [34]:
def numb(x,/):
    print(x)
numb(1)

1

In [35]:
def numb(x,/):
    print(x)
numb(x = 15)

TypeError: numb() got some positional-only arguments passed as keyword arguments: 'x'

In [1]:
def my_function(x):
  return "a" + x

print(my_function("b"))
print(my_function("c"))
print(my_function("d"))

ab
ac
ad

In [1]:
a = lambda b : 2+3
print(a)

<function <lambda> at 0x000002B906D20CC0>

In [3]:
a = lambda b : b+3
print(a(2))

5

In [4]:
def my_function(x):
  return "a" + x
a = lambda b : b+3
print(a(2))
print(my_function("b"))
print(my_function("c"))
print(my_function("d"))

5
ab
ac
ad

In [5]:
def subham(sname = "rout"):
    return lambda fname : fname + sname
subham()
print(fname("subham"))

NameError: name 'fname' is not defined

In [7]:
def subham(sname = "rout"):
    return lambda fname : fname +" "+ sname
fllname = subham()
print(fllname("subham"))

subham rout

In [8]:
def subham(sname):
    return lambda fname : fname +" "+ sname
fllname = subham("RAWAT")
hnamse = subham("camiin")
print(fllname("subham"))
print(hnamse("RONII"))

subham RAWAT
RONII camiin