# list []

In [4]:
list1 = ['a', 'b', 'c', 'd']
print(list1)
print(type(list1))
print(len(list))

['a', 'b', 'c', 'd']
<class 'list'>
4

In [5]:
print(list1[2])
print(list1[-2])
print(list1[3:])
print(list1[1])
print(list1[1:3])
print(list1[-3:-1])

c
c
['d']
b
['b', 'c']
['b', 'c']

In [6]:
list2 = ["abc" , 1 ,2, 4.55 , 33+2j, True , False, None ]
print(list2)
print(type(list2))
print(len(list2))

['abc', 1, 2, 4.55, (33+2j), True, False, None]
<class 'list'>
8

In [7]:
list3 = [['a', 'b', 'c', 'd'],"abc" , 1 ,2, 4.55 , 33+2j, True , False, None]

In [8]:
print(list3)
print(type(list3))
print(len(list3))

[['a', 'b', 'c', 'd'], 'abc', 1, 2, 4.55, (33+2j), True, False, None]
<class 'list'>
9

In [10]:
list4 = [['a', 'b', 'c', 'd'], ['a', 'b', 'c', 'd'],('aa', 'bd', 'kc', 'md'),('aa', 'bd', 'kc', 'md')]
print(list4)
print(type(list4))
print(len(list4))

[['a', 'b', 'c', 'd'], ['a', 'b', 'c', 'd'], ('aa', 'bd', 'kc', 'md'), ('aa', 'bd', 'kc', 'md')]
<class 'list'>
4

In [2]:
list5 = list(("name", 23, 34.6, 22+4j))
print(list5)

['name', 23, 34.6, (22+4j)]

In [4]:
if "name" in list5 :
    print("name is in the list")

name is in the list

In [8]:
if "name" not in list5 :
    print("name is not in the list")
else :
    print("name is not in the list")

name is not in the list

In [11]:
name1 = ["subham", "ronii", "anku", "santosh", "abraham"]
print(name1)
print(len(name1))
name1.append("prateek")
name1.append("bhanu")
print(name1)
print(len(name1))

['subham', 'ronii', 'anku', 'santosh', 'abraham']
5
['subham', 'ronii', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu']
7

In [12]:
name1.insert(1,"Sanjay")
print(name1)
print(len(name1))

['subham', 'Sanjay', 'ronii', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu']
8

In [13]:
schl = ["kvs", "dps" ,"xiaver"] # list
name1.extend(schl)
print(name1)
print(len(name1))

['subham', 'Sanjay', 'ronii', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu', 'kvs', 'dps', 'xiaver']
11

In [14]:
games = ("basket", "cricket") # tuple
name1.extend(games)
print(name1)
print(len(name1))
print(type(name1))

['subham', 'Sanjay', 'ronii', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu', 'kvs', 'dps', 'xiaver', 'basket', 'cricket']
13
<class 'list'>

In [15]:
name1[1] = "tota"
print(name1)

['subham', 'tota', 'ronii', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu', 'kvs', 'dps', 'xiaver', 'basket', 'cricket']

In [16]:
name1[-1] = 3
print(name1)

['subham', 'tota', 'ronii', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu', 'kvs', 'dps', 'xiaver', 'basket', 3]

In [18]:
name1[1:3] = ["rout"]
print(name1)
print(len(name1))

['subham', 'rout', 'u', 't', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu', 'kvs', 'dps', 'xiaver', 'basket', 3]
14

In [19]:
name1[1:4] = ["suresh"]
print(name1)

['subham', 'suresh', 'anku', 'santosh', 'abraham', 'prateek', 'bhanu', 'kvs', 'dps', 'xiaver', 'basket', 3]

In [22]:
name1.remove("bhanu")
print(name1)

['subham', 'suresh', 'anku', 'santosh', 'abraham', 'prateek', 'dps', 'xiaver', 'basket', 3]

In [23]:
name1.pop() #remove the last item
print(name1)

['subham', 'suresh', 'anku', 'santosh', 'abraham', 'prateek', 'dps', 'xiaver', 'basket']

In [24]:
name1.pop(4)
print(name1)

['subham', 'suresh', 'anku', 'santosh', 'prateek', 'dps', 'xiaver', 'basket']

In [25]:
surname = ["rout", "singh", "malik", "dhoni"]
print(surname)
print(type(surname))
print(len(surname))
del surname
print(surname)

['rout', 'singh', 'malik', 'dhoni']
<class 'list'>
4

NameError: name 'surname' is not defined

In [26]:
surname = ["rout", "singh", "malik", "dhoni"]
print(surname)
print(type(surname))
print(len(surname))
del surname[0]
print(surname)

['rout', 'singh', 'malik', 'dhoni']
<class 'list'>
4
['singh', 'malik', 'dhoni']

In [27]:
surname = ["rout", "singh", "malik", "dhoni"]
print(surname)
print(type(surname))
print(len(surname))
surname.clear()
print(surname)

['rout', 'singh', 'malik', 'dhoni']
<class 'list'>
4
[]

In [29]:
surname = ["rout", "singh", "malik", "dhoni"]
for s in surname :
    print(s)

rout
singh
malik
dhoni

In [30]:
schl = ["kvs", "dps" ,"xiaver"]
print(c for c in schl)

<generator object <genexpr> at 0x000002009CF35FF0>

In [31]:
[print(c) for c in schl]

kvs
dps
xiaver

[None, None, None]

In [36]:
nums =  [1, 2 , 22 , 3 , 32 ,4 , 5, 6 , 72, 2 , 25 , 30]
nums1 = []
print(nums)
print(nums1)
for n in nums :
    if "2" in n :
        nums1.append(n)
        print(nums1)

[1, 2, 22, 3, 32, 4, 5, 6, 72, 2, 25, 30]
[]

TypeError: argument of type 'int' is not iterable

In [34]:
alf = ["a", "b" , "ab" ,"ca", "d", "dc"]
print(alf)
alf1 = []
for x in alf :
    if "a" in x :
        alf1.append(x)
        print(alf1)

['a', 'b', 'ab', 'ca', 'd', 'dc']
['a']
['a', 'ab']
['a', 'ab', 'ca']

In [37]:
alf = ["a", "b" , "ab" ,"ca", "d", "dc"]
alf2 = [for x in alf if "a" in x]
print(alf2)

SyntaxError: invalid syntax (2392490086.py, line 2)

In [38]:
alf = ["a", "b" , "ab" ,"ca", "d", "dc"]
alf2 = [x for x in alf if "a" in x]
print(alf2)

['a', 'ab', 'ca']

In [39]:
alf = ["a", "b" , "ab" ,"ca", "d", "dc"]
alf2 = [x for x in alf if "e" in x]
print(alf2)

[]

In [40]:
alf2 = [x for x in alf if "a" != x]
print(alf2)

['b', 'ab', 'ca', 'd', 'dc']

In [41]:
nums = [2,1,4,5,7,4,33,999,97,31]
print(nums)
nums.sort()
print(nums)

[2, 1, 4, 5, 7, 4, 33, 999, 97, 31]
[1, 2, 4, 4, 5, 7, 31, 33, 97, 999]

In [42]:
names1 = ["subham", "bikash", "abishek", "Anku", "Zakir","chaman"]
print(names1)
names1.sort()
print(names1)

['subham', 'bikash', 'abishek', 'Anku', 'Zakir', 'chaman']
['Anku', 'Zakir', 'abishek', 'bikash', 'chaman', 'subham']

In [43]:
names1.sort(reverse = True)
print(names1)

['subham', 'chaman', 'bikash', 'abishek', 'Zakir', 'Anku']

In [44]:
nums.sort(reverse = True)
print(nums)

[999, 97, 33, 31, 7, 5, 4, 4, 2, 1]

In [45]:
games1 = ["basketball", "vollyball", "handball", "circket"]
print(games1)
games2 = games1.copy()
games2.sort()
print(games2)

['basketball', 'vollyball', 'handball', 'circket']
['basketball', 'circket', 'handball', 'vollyball']

In [46]:
games1 = ["basketball", "vollyball", "handball", "circket"]
print(games1)
games2 = list(games1) #list() method use
games2.sort()
print(games2)

['basketball', 'vollyball', 'handball', 'circket']
['basketball', 'circket', 'handball', 'vollyball']

In [48]:
ans = games2 + nums
print(ans)
print(len(ans))

['basketball', 'circket', 'handball', 'vollyball', 999, 97, 33, 31, 7, 5, 4, 4, 2, 1]
14

In [49]:
ans1 = games1.append(names1)
print(ans1)

None

In [50]:
games1 = ["basketball", "vollyball", "handball", "circket"]
names1 = ["subham", "bikash", "abishek", "Anku", "Zakir","chaman"]
for g in names1:
    games1.append(g)
    print(games1)

['basketball', 'vollyball', 'handball', 'circket', 'subham']
['basketball', 'vollyball', 'handball', 'circket', 'subham', 'bikash']
['basketball', 'vollyball', 'handball', 'circket', 'subham', 'bikash', 'abishek']
['basketball', 'vollyball', 'handball', 'circket', 'subham', 'bikash', 'abishek', 'Anku']
['basketball', 'vollyball', 'handball', 'circket', 'subham', 'bikash', 'abishek', 'Anku', 'Zakir']
['basketball', 'vollyball', 'handball', 'circket', 'subham', 'bikash', 'abishek', 'Anku', 'Zakir', 'chaman']

In [51]:
games1 = ["basketball", "vollyball", "handball", "circket"]
names1 = ["subham", "bikash", "abishek", "Anku", "Zakir","chaman"]
games1.extend(names1)
print(games1)

['basketball', 'vollyball', 'handball', 'circket', 'subham', 'bikash', 'abishek', 'Anku', 'Zakir', 'chaman']