# set{}

In [3]:
set1 = {"apple", "ball", 1, 1, 2, 22.5, 22+5j, True, None, {"banana", "orange"}, ["subham"],("rout"),{"banana", "mango"}}
print(set1)
print(type(set1))
print(len(set1))

TypeError: unhashable type: 'set'

In [4]:
set1 = {"apple", "ball", 1, 1, 2, 22.5, 22+5j, True, None,}
print(set1)
print(type(set1))
print(len(set1))

{1, 2, None, (22+5j), 22.5, 'ball', 'apple'}
<class 'set'>
7

In [5]:
print(set1)

{1, 2, None, (22+5j), 22.5, 'ball', 'apple'}

In [13]:
set1 = {"apple", "ball", 1, 1, 2, 22.5, 22+5j, True, None, "ball", "joker"}
print(set1)

{1, 2, (22+5j), 'joker', 'apple', None, 22.5, 'ball'}

In [9]:
set2 = {True , False , None , 2 , 1 , 3, 0, " "}
print(set2)

{False, True, 2, 3, None, ' '}

In [11]:
set3 = set(("banana", "kiwi",1, 3, 4.5, True, 33+5j))
print(set3)
print(type(set3))

{'kiwi', 1, 3, 4.5, 'banana', (33+5j)}
<class 'set'>

In [56]:
print(set3[2])
print(set3[-3])

TypeError: 'set' object is not subscriptable

In [16]:
for s in set3:
    print(s)

kiwi
1
3
4.5
banana
(33+5j)

In [20]:
for "kiwi" in set3 :
    print(set3)

SyntaxError: cannot assign to literal (985678841.py, line 1)

In [21]:
print("kiwi" in set3)

True

In [22]:
print(2 in set3)

False

In [23]:
set3.add("tree")
print(set3)

{'kiwi', 1, 3, 4.5, 'banana', (33+5j), 'tree'}

In [24]:
set3.add("tree","Plant")
print(set3)

TypeError: set.add() takes exactly one argument (2 given)

In [25]:
# add() only take one value,item,object

In [26]:
set3.update(set1)
print(set3)

{'kiwi', 1, 3, 4.5, 2, (22+5j), 'joker', 'banana', 'apple', (33+5j), 'tree', None, 22.5, 'ball'}

In [27]:
set3.remove(2)

In [28]:
print(set3)

{'kiwi', 1, 3, 4.5, (22+5j), 'joker', 'banana', 'apple', (33+5j), 'tree', None, 22.5, 'ball'}

In [29]:
set3.remove(2)

KeyError: 2

In [30]:
# giving error becoz item is not in set

In [31]:
set3.discard("apple")
print(set3)

{'kiwi', 1, 3, 4.5, (22+5j), 'joker', 'banana', (33+5j), 'tree', None, 22.5, 'ball'}

In [32]:
set3.discard("apple")
print(set3)

{'kiwi', 1, 3, 4.5, (22+5j), 'joker', 'banana', (33+5j), 'tree', None, 22.5, 'ball'}

In [33]:
st1 = {"aa", "bb", "dfg"}
st2 = {2, 3, 4, 5, 89}
st3 = st1.union(st2)
print(st3)

{2, 3, 4, 5, 'dfg', 'aa', 89, 'bb'}

In [34]:
st1 = {"aa", "bb", "dg"}
st2 = {2, 5, 89}
st3 = st1 | st2
print(st3)

{'aa', 2, 5, 89, 'bb', 'dg'}

In [35]:
st1 = {"aa", "bb", "dfg"}
st2 = {2, 3, 4, 5, 89}
st3 = st1.union(st2,set1,set3)
print(st3)

{1, 2, 3, 4, 5, 4.5, 'apple', 'aa', 'tree', 22.5, 89, 'bb', 'ball', 'kiwi', (22+5j), 'dfg', 'joker', 'banana', (33+5j), None}

In [36]:
st1 = {"aa", "bb", "dg"}
st2 = {2, 5, 89}
st3 = st1 | st2 | set1
print(st3)

{1, 2, 5, (22+5j), 'joker', 'dg', 'apple', 'aa', None, 22.5, 89, 'bb', 'ball'}

In [40]:
st1 = {"aa", "bb"}
st2 = {2, 5, 89}
st1.update(st2)
print(st1)

{'aa', 2, 5, 89, 'bb'}

# intersection() only keep the duplicates

In [41]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish"}
c = a.intersection(b)
print(c)

{'cat', 'apple'}

In [42]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish","elf","ball"}
c = a & b
print(c)

{'cat', 'ball', 'apple'}

In [47]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish"}
a.intersection_update(b)
print(a)
print(b)

{'cat', 'apple'}
{'elf', 'fish', 'cat', 'apple'}

# difference () what are diffent form 1st set

In [44]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish"}
c = a.difference(b)
print(c)

{'ball', 'dog'}

In [45]:
a = {"apple", "ball", "cat", "dog", True, 0}
b = {"elf", "cat", "apple", "fish", 1, False}
c = a - b
print(c)

{'ball', 'dog'}

In [48]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish"}
a.difference_update(b)
print(a)
print(b)

{'dog', 'ball'}
{'elf', 'fish', 'cat', 'apple'}

# symmetric_difference() method will keep only the elements that are NOT present in both sets. its shows what is diff in both set

In [49]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish"}
c = a.symmetric_difference(b)
print(c)

{'dog', 'elf', 'fish', 'ball'}

In [51]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish", 2}
c = a ^b
print(c)

{2, 'dog', 'elf', 'fish', 'ball'}

In [52]:
a = {"apple", "ball", "cat", "dog"}
b = {"elf", "cat", "apple", "fish"}
a.symmetric_difference_update(b)
print(a)
print(b)

{'dog', 'elf', 'fish', 'ball'}
{'elf', 'fish', 'cat', 'apple'}

In [54]:
a.add("banana")
print(a)

{'dog', 'elf', 'fish', 'banana', 'ball'}

In [55]:
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'