# tuple()

In [1]:
tup1 = ("a", 1, 2.3, 33+5j, True, None, ["1, 2.3, 33+5j"], ("a", 1, 2.3), {1, 2, 3, 4})
print(tup1)
print(type(tup1))
print(len(tup1))

('a', 1, 2.3, (33+5j), True, None, ['1, 2.3, 33+5j'], ('a', 1, 2.3), {1, 2, 3, 4})
<class 'tuple'>
9

In [2]:
tup2 = ("b", "c", 3 , 55)
print(tup2)
print(type(tup2))

('b', 'c', 3, 55)
<class 'tuple'>

In [5]:
tup1.append(tup2) # error boz tuple is unchangeable

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
tup1 = list(tup1)
print(type(tup1))
tup1.append(tup2)
tup1 = tuple(tup1)
print(tup1)
print(type(tup1))

<class 'list'>
('a', 1, 2.3, (33+5j), True, None, ['1, 2.3, 33+5j'], ('a', 1, 2.3), {1, 2, 3, 4}, ('b', 'c', 3, 55))
<class 'tuple'>

In [6]:
a = ("abhi")
b = ("abhi",)
print(type(a))
print(type(b))

<class 'str'>
<class 'tuple'>

In [8]:
c = tuple(("lemon", "banana", 1, 33, 5.6))
print(c)
print(type(c))

('lemon', 'banana', 1, 33, 5.6)
<class 'tuple'>

In [9]:
print(tup1)
print(tup1[3])
print(tup1[-3])
print(tup1[3:7])
print(tup1[-7:-2])
print(tup1[:5])
print(tup1[4:])
print(tup1[-3:])
print(tup1[:-4])

('a', 1, 2.3, (33+5j), True, None, ['1, 2.3, 33+5j'], ('a', 1, 2.3), {1, 2, 3, 4}, ('b', 'c', 3, 55))
(33+5j)
('a', 1, 2.3)
((33+5j), True, None, ['1, 2.3, 33+5j'])
((33+5j), True, None, ['1, 2.3, 33+5j'], ('a', 1, 2.3))
('a', 1, 2.3, (33+5j), True)
(True, None, ['1, 2.3, 33+5j'], ('a', 1, 2.3), {1, 2, 3, 4}, ('b', 'c', 3, 55))
(('a', 1, 2.3), {1, 2, 3, 4}, ('b', 'c', 3, 55))
('a', 1, 2.3, (33+5j), True, None)

In [10]:
print(c)
print(type(c))
d = ("apple",)
c += d
print(c)

('lemon', 'banana', 1, 33, 5.6)
<class 'tuple'>
('lemon', 'banana', 1, 33, 5.6, 'apple')

# Unpacking a Tuple

In [11]:
e = ("rony", "tony", 33)
aa, bb, cc = e
print(aa)
print(bb)
print(cc)

rony
tony
33

In [12]:
names1 =  ("subham", "abhi", "mayank", "anku", "lakshya")
n, b, *c = names1
print(n)
print(b)
print(c)

subham
abhi
['mayank', 'anku', 'lakshya']

In [13]:
names1 =  ("subham", "abhi", "mayank", "anku", "lakshya")
n, *b, c = names1
print(n)
print(b)
print(c)

subham
['abhi', 'mayank', 'anku']
lakshya

In [14]:
names1 =  ("subham", "abhi", "mayank", "anku", "lakshya")
n, *b, c, d = names1
print(n)
print(b)
print(c)
print(d)

subham
['abhi', 'mayank']
anku
lakshya

In [15]:
for nn in names1 :
    print(nn)

subham
abhi
mayank
anku
lakshya

In [16]:
ans1 = names1 + e
print(ans1)

('subham', 'abhi', 'mayank', 'anku', 'lakshya', 'rony', 'tony', 33)

In [18]:
print(names1)
ans2 = names1 * 2
print(ans2)

('subham', 'abhi', 'mayank', 'anku', 'lakshya')
('subham', 'abhi', 'mayank', 'anku', 'lakshya', 'subham', 'abhi', 'mayank', 'anku', 'lakshya')

In [20]:
ans2.count("abhi")

2

In [22]:
ans2.index("anku")

3