# DICTNARYV{KEY : VALUE}

In [3]:
dist1 = {"Name":"Subham", "Age":28, "Weight":90, "City":"Jabalpur"}
print(type(dist1))
print(dist1)

<class 'dict'>
{'Name': 'Subham', 'Age': 28, 'Weight': 90, 'City': 'Jabalpur'}

In [5]:
dist2 = {
    "Father":"Suresh",
    "Mother":"Swarnlata",
    "Years of Marriage":29,
    "Childrens":2
}
print(type(dist2))
print(dist2)

<class 'dict'>
{'Father': 'Suresh', 'Mother': 'Swarnlata', 'Years of Marriage': 29, 'Childrens': 2}

In [6]:
print(dist1["Name"])
print(dist2["Childrens"])

Subham
2

In [7]:
print(len(dist1))
print(len(dist2))

4
4

In [9]:
dist3 = {
    "string":"ABCdef",
    "Intiger":12,
    "Complex":22+4j,
    "Float":24.5,
    "Boolean": True,
    "Boolean": None
}
print(type(dist3))
print(len(dist3))
print(dist3)

# "Boolean": True,
#  "Boolean": None
#  Repeat value not allowed , when its repeat its aonly take last repitative value

<class 'dict'>
5
{'string': 'ABCdef', 'Intiger': 12, 'Complex': (22+4j), 'Float': 24.5, 'Boolean': None}

In [19]:
dictdata = { "Names" : ["Subham", "Ronii"], "marks" : (75, "in 12th") , "Numbers and Alphabet" : {1, 2, 3, 4, 4, 5, "a", "b", "b", "c", "d"}}

In [20]:
print(dictdata)

{'Names': ['Subham', 'Ronii'], 'marks': (75, 'in 12th'), 'Numbers and Alphabet': {'d', 1, 2, 3, 4, 5, 'a', 'b', 'c'}}

In [21]:
print(len(dictdata))

3

In [26]:
xy = ("game", "social", "users")
yx = "football", "instagram", 25
snetwork = dict.fromkeys(xy,yx)
print(snetwork)

{'game': ('football', 'instagram', 25), 'social': ('football', 'instagram', 25), 'users': ('football', 'instagram', 25)}

In [29]:
print(dist1)
print(dist1.setdefault("Age","28"))
print(dist1.setdefault("Education","B.A"))
print(dist1)

{'Name': 'Subham', 'Age': 28, 'Weight': 90, 'City': 'Jabalpur'}
28
B.A
{'Name': 'Subham', 'Age': 28, 'Weight': 90, 'City': 'Jabalpur', 'Education': 'B.A'}

In [11]:
dist4 = dict(State = "Madhya Pradesh", City = "Jabalpur", Pincode = 482001)
print(dist4)
print(len(dist4))
print(type(dist4))

{'State': 'Madhya Pradesh', 'City': 'Jabalpur', 'Pincode': 482001}
3
<class 'dict'>

In [12]:
print(dist4.get("State"))

Madhya Pradesh

In [18]:
print(dist1.keys())

dict_keys(['Name', 'Age', 'Weight', 'City'])

In [19]:
print(dist2.values())

dict_values(['Suresh', 'Swarnlata', 29, 2])

In [22]:
dist1["School"] = "KVS"
dist1["12th Score"] = 75.66
print(dist1)
print(dist1.keys())
print(dist1.values())

{'Name': 'Subham', 'Age': 28, 'Weight': 90, 'City': 'Jabalpur', 'School': 'KVS', '12 Score': 75.66, '12th Score': 75.66}
dict_keys(['Name', 'Age', 'Weight', 'City', 'School', '12 Score', '12th Score'])
dict_values(['Subham', 28, 90, 'Jabalpur', 'KVS', 75.66, 75.66])

In [25]:
print(dist2)
print(dist2.keys())
print(dist2.values())
dist2["Years of Marriage"] = 28
dist2["Mother"] = "Mamta"
print(dist2)
print(dist2.keys())
print(dist2.values())

{'Father': 'Suresh', 'Mother': 'Swarnlata', 'Years of Marriage': 29, 'Childrens': 2}
dict_keys(['Father', 'Mother', 'Years of Marriage', 'Childrens'])
dict_values(['Suresh', 'Swarnlata', 29, 2])
{'Father': 'Suresh', 'Mother': 'Mamta', 'Years of Marriage': 28, 'Childrens': 2}
dict_keys(['Father', 'Mother', 'Years of Marriage', 'Childrens'])
dict_values(['Suresh', 'Mamta', 28, 2])

In [26]:
print(dist4)
print(dist4.items())

{'State': 'Madhya Pradesh', 'City': 'Jabalpur', 'Pincode': 482001}
dict_items([('State', 'Madhya Pradesh'), ('City', 'Jabalpur'), ('Pincode', 482001)])

In [28]:
if "State" in dist4 :
    print("Its True")
if "jabalpur" not in dist4 : # in and not in search in KEY 
    print("Its True")

Its True
Its True

In [29]:
dist4.update({"City":"Bhopal"})
print(dist4)

{'State': 'Madhya Pradesh', 'City': 'Bhopal', 'Pincode': 482001}

In [30]:
dist4.update({"Capital":"Jabalpur"})
print(dist4)

{'State': 'Madhya Pradesh', 'City': 'Bhopal', 'Pincode': 482001, 'Capital': 'Jabalpur'}

In [31]:
print(dist4.pop("City"))

Bhopal

In [32]:
print(dist4)

{'State': 'Madhya Pradesh', 'Pincode': 482001, 'Capital': 'Jabalpur'}

In [33]:
dist4.popitem()
print(dist4)

{'State': 'Madhya Pradesh', 'Pincode': 482001}

In [34]:
print(dist1)
del dist1["Name"]
print(dist1)

{'Name': 'Subham', 'Age': 28, 'Weight': 90, 'City': 'Jabalpur', 'School': 'KVS', '12 Score': 75.66, '12th Score': 75.66}
{'Age': 28, 'Weight': 90, 'City': 'Jabalpur', 'School': 'KVS', '12 Score': 75.66, '12th Score': 75.66}

In [35]:
print(dist2)
print(len(dist2))
dist2.clear()
print(dist2)
print(len(dist2))

{'Father': 'Suresh', 'Mother': 'Mamta', 'Years of Marriage': 28, 'Childrens': 2}
4
{}
0

In [36]:
for xx in dist1 :
    print(xx) # print the keys

Age
Weight
City
School
12 Score
12th Score

In [39]:
# print tke values
for xx in dist1 :
    print(dist1[xx])

28
90
Jabalpur
KVS
75.66
75.66

In [40]:
for xx in dist1.values():
    print(xx)

28
90
Jabalpur
KVS
75.66
75.66

In [41]:
for xx in dist1.keys():
    print(xx)

Age
Weight
City
School
12 Score
12th Score

In [42]:
for xx in dist1.keys():
    print(dist1[xx])

28
90
Jabalpur
KVS
75.66
75.66

In [43]:
print(dist1)

{'Age': 28, 'Weight': 90, 'City': 'Jabalpur', 'School': 'KVS', '12 Score': 75.66, '12th Score': 75.66}

In [4]:
for xx in dist1.items() :
    print(xx)

('Name', 'Subham')
('Age', 28)
('Weight', 90)
('City', 'Jabalpur')

In [6]:
print(dist2)
distcopy = dist2.copy()
print(distcopy)

{'Father': 'Suresh', 'Mother': 'Swarnlata', 'Years of Marriage': 29, 'Childrens': 2}
{'Father': 'Suresh', 'Mother': 'Swarnlata', 'Years of Marriage': 29, 'Childrens': 2}

In [8]:
dictcopy = dict(dist1)
print(dictcopy)
print(type(dictcopy))

{'Name': 'Subham', 'Age': 28, 'Weight': 90, 'City': 'Jabalpur'}
<class 'dict'>

In [12]:
rout_tree = {
    "Father" : {
    "Name":"S.C ROUT",
    "Age" : 59
},
"Mother" : {
    "Name":"SWARNALATA ROUT",
    "Age" : 49
},
"Younger Son" : {
    "Name":"SUBHENDU ROUT",
    "Age" : 27
},
"Older Son" : {
    "Name":"SUBHAM ROUT",
    "Age" : 28
}
}
print(rout_tree)

{'Father': {'Name': 'S.C ROUT', 'Age': 59}, 'Mother': {'Name': 'SWARNALATA ROUT', 'Age': 49}, 'Younger Son': {'Name': 'SUBHENDU ROUT', 'Age': 27}, 'Older Son': {'Name': 'SUBHAM ROUT', 'Age': 28}}

In [14]:
rout_tree = {"Father" : {"Name":"S.C ROUT","Age" : 59},"Mother" : {"Name":"SWARNALATA ROUT","Age" : 49},"Younger Son" : {"Name":"SUBHENDU ROUT","Age" : 27},"Older Son" : {"Name":"SUBHAM ROUT","Age" : 28}}
print(rout_tree)
print(type(rout_tree))

{'Father': {'Name': 'S.C ROUT', 'Age': 59}, 'Mother': {'Name': 'SWARNALATA ROUT', 'Age': 49}, 'Younger Son': {'Name': 'SUBHENDU ROUT', 'Age': 27}, 'Older Son': {'Name': 'SUBHAM ROUT', 'Age': 28}}
<class 'dict'>

In [15]:
newdict = {
    "dist1" : dist1,
    "dist2" : dist2
}
print(newdict)
print(len(newdict))
print(type(newdict))

{'dist1': {'Name': 'Subham', 'Age': 28, 'Weight': 90, 'City': 'Jabalpur'}, 'dist2': {'Father': 'Suresh', 'Mother': 'Swarnlata', 'Years of Marriage': 29, 'Childrens': 2}}
2
<class 'dict'>

In [17]:
print(newdict["dist2"]["Mother"])

Swarnlata