In [2]:
a = "subham"
b = 1234
c = ["ap", "ct", 1, 3]
d = ("bt", "dg", 23.45, 34+3j)
e = {1,2,3,4,4,2.5,2,3,0,"apple","ball","apple","cat",2.5}
f = {"a":2, "b":3, "c":3, "a":"anana", "d":3}

In [3]:
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))

subham
<class 'str'>
1234
<class 'int'>
['ap', 'ct', 1, 3]
<class 'list'>
('bt', 'dg', 23.45, (34+3j))
<class 'tuple'>
{0, 1, 2.5, 2, 3, 4, 'cat', 'ball', 'apple'}
<class 'set'>
{'a': 'anana', 'b': 3, 'c': 3, 'd': 3}
<class 'dict'>

In [4]:
for A in a :
    print(a)
for B in b :
    print(B)
for C in c :
    print(C)
for D in d :
    print(D)
for E in e :
    print(E)
for F in f :
    print(f)

subham
subham
subham
subham
subham
subham

TypeError: 'int' object is not iterable

In [5]:
for A in a :
    print(a)
# for B in b : 'int' object is not iterable
#    print(B)
for C in c :
    print(C)
for D in d :
    print(D)
for E in e :
    print(E)
for F in f :
    print(f)

subham
subham
subham
subham
subham
subham
ap
ct
1
3
bt
dg
23.45
(34+3j)
0
1
2.5
2
3
4
cat
ball
apple
{'a': 'anana', 'b': 3, 'c': 3, 'd': 3}
{'a': 'anana', 'b': 3, 'c': 3, 'd': 3}
{'a': 'anana', 'b': 3, 'c': 3, 'd': 3}
{'a': 'anana', 'b': 3, 'c': 3, 'd': 3}

In [6]:
name = ["subham", "ronii", "tony", "mamta"]
for n in name :
    print(n)
    if n == "tony" :
        break

subham
ronii
tony

In [8]:
name = ["subham", "ronii", "tony", "mamta", "suresh"]
for n in name :
    if n == "tony" :
        break
    print(n)

subham
ronii

In [9]:
name = ["subham", "ronii", "tony", "mamta", "suresh"]
for n in name :
    if n == "tony" :
        continue
    print(n)

subham
ronii
mamta
suresh

In [11]:
for x in range(10) :
    print(x)

0
1
2
3
4
5
6
7
8
9

In [13]:
for y in range(12,21) :
    print(y)

12
13
14
15
16
17
18
19
20

In [15]:
for z in range(2,21,2) :
    print(z)

2
4
6
8
10
12
14
16
18
20

In [16]:
for z in range(2,21,2) :
    print(z)
else :
    print("2 table finish")

2
4
6
8
10
12
14
16
18
20
2 table finish

In [18]:
a = ["a", "b", "c"]
b = ("apple", "ball", "cat")
for A in a :
    for B in b :
        print(A,B)

a apple
a ball
a cat
b apple
b ball
b cat
c apple
c ball
c cat