In [2]:
print("HII")

HII

In [3]:
print("Hello world")

Hello world

In [4]:
print(2)

2

In [5]:
print(2+4)

6

In [6]:
print("subham"+"rout")

subhamrout

In [7]:
print("ronii"*2)

roniironii

In [8]:
print(3*10)

30

In [9]:
print("Name : Subham")
print("Age : 28")
print("Address : Bilhari")

Name : Subham
Age : 28
Address : Bilhari

In [10]:
print("""hello world
my name is
subham rout
i live in
jabalpur MP""")

hello world
my name is
subham rout
i live in
jabalpur MP

In [11]:
print("Subham rout \nis my name and \ni live in jabalpur")

Subham rout
is my name and
i live in jabalpur

In [12]:
a = "subham rout"
print(a)

subham rout

In [13]:
_su = a
print(_su)

subham rout

In [14]:
name = input("Enter your name : ").upper()
print(name)

Enter your name :  subham rout

SUBHAM ROUT

In [16]:
rcon = input("Enter the numbers to print it in reverse :")
print(rcon[::-1])

Enter the numbers to print it in reverse : 8719028671

1768209178

In [9]:
def calculation():
    print("     WELCOME TO CALCULATOR     ")
    ask = input("DO YOU WANT TO DO CALCULATION (YES/ NO) : ").upper()
    while ask == "YES":
        cal = eval(input("Enter your equation : "))
        print(cal)
        ask = input("DO YOU WANT TO DO ANOTHER CALCULATION (YES/ NO) : ").upper()
    else :
        if ask == "NO" :
            return cal
        elif ask != "YES" and ask != "NO" :
           ask = input("DO YOU WANT TO DO ANOTHER CALCULATION (YES/ NO) : ").upper() 

calculation()

     WELCOME TO CALCULATOR

DO YOU WANT TO DO CALCULATION (YES/ NO) :  23+2
DO YOU WANT TO DO ANOTHER CALCULATION (YES/ NO) :  r

In [20]:

cal = eval(input("Enter your equation : "))
print(cal)

Enter your equation :  2+2-4*2

-4

In [8]:
class calculation :
    def __init__(self,number):
        self.number = number
    def printans():
        call = eval(input("Enter your Calculation Problem"))
        number = call
calculation(call)
printans()

NameError: name 'printans' is not defined

In [12]:
import demo001
a = demo001.add(2,8)
print(a)

AttributeError: module 'demo001' has no attribute 'add'

In [31]:
def Person():
    print("""Name : subham rout
Age : 28""")
    print("Address : B-Block Pratham Residecy \nBilhari Jabalpur \nMadhya Pradesh")
Person()

Name : subham rout
Age : 28
Address : B-Block Pratham Residecy
Bilhari Jabalpur
Madhya Pradesh

In [34]:
def Swap():
    inti = int(input("Enter a number :"))
    deci = float(input("Enter a decimal number"))
    print(inti)
    print(type(inti))
    print(deci)
    print(type(deci))
    print()
    inti = float(inti)
    print(inti)
    print(type(inti))
    deci = int(deci)
    print(deci)
    print(type(deci))
Swap()

Enter a number : 1234
Enter a decimal number 34.21

1234
<class 'int'>
34.21
<class 'float'>

1234.0
<class 'float'>
34
<class 'int'>

In [36]:
def SwapV():
    name = "Subham Rout"
    age = 28
    print(name)
    print(age)
    print()
    swap = name
    name = age
    age = swap
    print(name)
    print(age)
SwapV()

Subham Rout
28

28
Subham Rout

In [37]:
def Student_ID():
    name = input("Enter Your Name : ")
    age = int(input("Enter Your Age : "))
    subject = input("Enter Your Batch Course : ")
    address = input("Enter Your Address")
    print()
    print(f"{name} \n{age} \n{subject} \n{address}")
Student_ID()

Enter Your Name :  subham rout
Enter Your Age :  28
Enter Your Batch Course :  BA
Enter Your Address pratahm residency bilhari mp

subham rout
28
BA
pratahm residency bilhari mp

In [39]:
def Positive():
    number = int(input("Enter a number :"))
    if number > 0 :
        print(f"{number} is a Positive Number")
    else :
        print(f"{number} is a Negative Number")
Positive()

Enter a number : 123

123 is a Positive Number

In [43]:
def ODD_EVEN():
    check = int(input("Enter the number :"))
    even = check % 2
    if even == 0 :
        print(f"{check} is a Even number ")
    else :
        print(f"{check} is a Odd number ")
ODD_EVEN()

Enter the number : 1234

1234 is a Even number

In [1]:
import math
def Area_Cal():
    print("     AREA CALCULATOR     ")
    print("1 - SQAURE \n2 - TRIANGLE \n3 - RECTANGLE \n4 - CIRCLE")
    choose = int(input("Enter the number from Above : "))
    if choose == 1 :
        side = int(input("Enter the side of Sqaure : "))
        area = side * side
        print(f"The area of SQAURE is {area}")
    elif choose == 2 :
        base = int(input("Enter the base of Triangle : "))
        height = int(input("Enter the height of Triangle : "))
        area = (base*height)/2
        print(f"The area of TRIANGLE is {area}")
    elif choose == 3 :
        length = int(input("Enter the length of Rectangle : "))
        width = int(input("Enter the widht of Rectangle : "))
        area = length * width
        print(f"The area of RECTANGLE is {area}")
    elif choose == 4 :
        radius = int(input("Enter the raduis of the circle : "))
        area = math.pi * radius ** 2
        print(f"The total area of the CIRCLE is {area}")
    else :
        print("   PLEASE CHOOSE CORRECT NUMBER   ")
Area_Cal()

     AREA CALCULATOR
1 - SQAURE
2 - TRIANGLE
3 - RECTANGLE
4 - CIRCLE

Enter the number from Above :  2
Enter the base of Triangle :  20
Enter the height of Triangle :  15

The area of TRIANGLE is 150.0

In [66]:
def Vowel():
    check = input("Enter a word").upper()
    if "A" or "E" or "I" or "O" or "U" in check :
        print(f"{check} have  VOWELS in it")
    else :
        print(f"{check} not have VOWELS in it")
Vowel()

Enter a word subham

SUBHAM have  VOWELS in it

In [3]:
def Digit_():
    number = int(input("Enter the number : "))
    length = len(str(number))
    if length <= 5 :
        print(f"You Have Enter {length} Digit Number ")
    else :
        print (f"{number} is more then five digit number")
Digit_()

Enter the number :  5555555

5555555 is more then five digit number

In [5]:
def length():
    number = int(input("Enter number to find out its length : "))
    if number >= 0 and number < 10 :
        print(f"{number} is 1 DIGIT NUMBER")
    elif number >= 10 and number < 100 :
        print(f"{number} is 2 DIGIT NUMBER")
    elif number >= 100 and number < 1000 :
        print(f"{number} is 3 DIGIT NUMBER")
    elif number >= 1000 and number < 10000 :
        print(f"{number} is 4 DIGIT NUMBER")
    elif number >= 10000 and number < 100000 :
        print(f"{number} is 5 DIGIT NUMBER")
    else :
        if number < 0 :
            print(f"{number} is a NEGATIVE NUMBER")
        else :
            print(f"{number} is more than 5 DIGIT NUMBER")

length()

Enter number to find out its length :  123456

123456 is more than 5 DIGIT NUMBER

In [4]:
def table_count():
    print("***** Welcome Table Counting *****")
    number = int(input("Enter the number : "))
    n = 1
    while True :
        table = n * number
        print(f"{number} X {n} = {table}")
        n +=1
        n <= 10
        ask = input("Do You Want To Count Another Table (Y/N) :").upper()
        if ask == "N":
            break
            number = int(input("Enter the number : "))
table_count()

***** Welcome Table Counting *****

Enter the number :  2

2 X 1 = 2

Do You Want To Count Another Table (Y/N) : y

2 X 2 = 4

Do You Want To Count Another Table (Y/N) : n

In [1]:
def forloop_table():
    print("@@@@ WELCOME TO TABLE COUNTING @@@@")
    number = int(input("Enter the Number : "))
    for n in range(1,11):
        print(n*number)
forloop_table()

@@@@ WELCOME TO TABLE COUNTING @@@@

Enter the Number :  2

2
4
6
8
10
12
14
16
18
20

In [19]:
def pattern():
    for i in range(1, 6):  
        for p in range(1, i + 1): 
            print(p, end="")
        print()  

pattern()

1
12
123
1234
12345

In [24]:
def symbol_pattern():
    symbol = input("Enter the Symbol : ")
    line = int(input("Enter the length of Pattern : "))
    for s in range(1,line+1):
        for _ in range(s):
            print(symbol, end="")
        print()

symbol_pattern()

Enter the Symbol :  %
Enter the length of Pattern :  5

%
%%
%%%
%%%%
%%%%%

In [25]:
def odd_range():
    print("##### WELCOME ODD NUMBER FINDER IN RANGE #####")
    first = int(input("ENTER STARTING NUMBER OF RANGE : "))
    last = int(input("ENTER THE LAST NUMBER OF RANGE : "))
    for odd in range(first,last+1):
        if odd % 2 != 0 :
            print(odd)

odd_range()

##### WELCOME ODD NUMBER FINDER IN RANGE #####

ENTER STARTING NUMBER OF RANGE :  2
ENTER THE LAST NUMBER OF RANGE :  20

3
5
7
9
11
13
15
17
19

In [50]:
def playlist():
    songs = ("1-O Mere Dil Ke Chain","2-Tum Hi Ho","3-Ae Dil Hai Mushkil","4-Dhadak","5-Enna Sona","6-Phir Aur Kya Chahiye","7-Udd Jaa Kaale Kaava","8-Ruaan","9-Halka Halka Sa","10-Hone Do Jo Hota Hai","11-Aaj Se Teri","12-Tere Mere","13-Main Tere Kabil Hoon","14-Humsafar","15-Lambiyaan Si Judaiyan")
    skip = int(input("Which song do you want to skip (1-15) : "))-1
    
    for plist in range(len(songs)):
        if plist == skip:
            continue
        else :
            print(songs[plist])

playlist()
print()
print()
def playlist1():
    songs = ("1-O Mere Dil Ke Chain","2-Tum Hi Ho","3-Ae Dil Hai Mushkil","4-Dhadak","5-Enna Sona","6-Phir Aur Kya Chahiye","7-Udd Jaa Kaale Kaava","8-Ruaan","9-Halka Halka Sa","10-Hone Do Jo Hota Hai","11-Aaj Se Teri","12-Tere Mere","13-Main Tere Kabil Hoon","14-Humsafar","15-Lambiyaan Si Judaiyan")
    skip = int(input("At wich song you want to stop (1-15) : "))-1
    song = songs[skip]
    for plist in range(len(songs)):
        if plist == skip:
             break
        else :
            print(songs[plist])

playlist1()

Which song do you want to skip (1-15) :  2

1-O Mere Dil Ke Chain
3-Ae Dil Hai Mushkil
4-Dhadak
5-Enna Sona
6-Phir Aur Kya Chahiye
7-Udd Jaa Kaale Kaava
8-Ruaan
9-Halka Halka Sa
10-Hone Do Jo Hota Hai
11-Aaj Se Teri
12-Tere Mere
13-Main Tere Kabil Hoon
14-Humsafar
15-Lambiyaan Si Judaiyan

At wich song you want to stop (1-15) :  6

1-O Mere Dil Ke Chain
2-Tum Hi Ho
3-Ae Dil Hai Mushkil
4-Dhadak
5-Enna Sona

In [59]:
# sum of even number upto 50
even = 0
for num in range(1,51):
    if num % 2 == 0 :
        even += num
print(even)

650

In [71]:
print("!@#$% SUM OF EVEN NUMBERS !@#$%")
def sum_even():
    starts = int(input("ENTER THE STARTING NUMBER : "))
    ends = int(input("ENTER THE ENDING NUMBER : "))+1
    even = 0
    for e in range(starts,ends):
        if e % 2 == 0:
            even += e
    print(even)

sum_even()
print()
print()
print("^&*~? SUM OF ODD NUMBERS ?~*&^")
def sum_odd():
    starts = int(input("ENTER THE STARTING NUMBER : "))
    ends = int(input("ENTER THE ENDING NUMBER : "))
    odd = 0
    while starts <= ends :
        if starts % 2 != 0:
            odd += starts
        starts += 1
    print(odd)

sum_odd()

!@#$% SUM OF EVEN NUMBERS !@#$%

ENTER THE STARTING NUMBER :  1
ENTER THE ENDING NUMBER :  5

6


^&*~? SUM OF ODD NUMBERS ?~*&^

ENTER THE STARTING NUMBER :  1
ENTER THE ENDING NUMBER :  5

9

In [65]:
# first 20 numbers and there sqaure number
for sq in range (1,21):
    print("The Sqaue of",sq,"is",sq*sq)

The Sqaue of 1 is 1
The Sqaue of 2 is 4
The Sqaue of 3 is 9
The Sqaue of 4 is 16
The Sqaue of 5 is 25
The Sqaue of 6 is 36
The Sqaue of 7 is 49
The Sqaue of 8 is 64
The Sqaue of 9 is 81
The Sqaue of 10 is 100
The Sqaue of 11 is 121
The Sqaue of 12 is 144
The Sqaue of 13 is 169
The Sqaue of 14 is 196
The Sqaue of 15 is 225
The Sqaue of 16 is 256
The Sqaue of 17 is 289
The Sqaue of 18 is 324
The Sqaue of 19 is 361
The Sqaue of 20 is 400

In [67]:
print("@@@@@ SQUARE OF NUMBERS @@@@@")
def square():
    starts = int(input("ENTER THE STARTING NUMBER : "))
    ends = int(input("ENTER THE ENDING NUMBER : "))+1
    for sq in range(starts,ends):
        print("The Sqaue of",sq,"is",sq**sq)
        
square()

@@@@@ SQUARE OF NUMBERS @@@@@

ENTER THE STARTING NUMBER :  2
ENTER THE ENDING NUMBER :  10

The Sqaue of 2 is 4
The Sqaue of 3 is 27
The Sqaue of 4 is 256
The Sqaue of 5 is 3125
The Sqaue of 6 is 46656
The Sqaue of 7 is 823543
The Sqaue of 8 is 16777216
The Sqaue of 9 is 387420489
The Sqaue of 10 is 10000000000

In [1]:
# check from 1-100 which  number are divisible by 8 and 12
def check_div():
    for number in range(1,101):
        if number % 8 == 0 and number % 12 == 0 :
            print(number)

check_div()

24
48
72
96

In [4]:
# super market biling system
def super_market():
    while True :
        print("A:- MAGGIE \nB:- PARLE-G \nC:-WATER BOTTLE \nD:- POTATO CHIPS \nE:- MILK")
        name = input("Enter the name of Customer :  ").upper()
        total_bill = 0
        A = 40
        B = 10
        C = 12
        D = 15
        E = 55.50
        
        while True :
            print("ENTER THE ITEM AND QUANTITY")
            item = input("ENTER THE ITEM : ").upper()
            quantity = int(input("ENTER THE QUANTITY OF THE ITEM : "))
            if item == "A" :
                total_bill += A * quantity
                ask_again = input("DO YOU WANT TO ADD MORE ITEM (YES/NO) : ").upper()
                if ask_again == "NO" :
                    break
            elif item == "B" :
                total_bill += B * quantity
                ask_again = input("DO YOU WANT TO ADD MORE ITEM (YES/NO) : ").upper()
                if ask_again == "NO" :
                    break
            elif item == "C" :
                total_bill += C * quantity
                ask_again = input("DO YOU WANT TO ADD MORE ITEM (YES/NO) : ").upper()
                if ask_again == "NO" :
                    break
            elif item == "D" :
                total_bill += D * quantity
                ask_again = input("DO YOU WANT TO ADD MORE ITEM (YES/NO) : ").upper()
                if ask_again == "NO" :
                    break
            elif item == "E" :
                total_bill += E * quantity
                ask_again = input("DO YOU WANT TO ADD MORE ITEM (YES/NO) : ").upper()
                if ask_again == "NO" :
                    break
        print("$"*40)
        print(f"Name : {name}")
        print(f"The total Bill is {total_bill}")
        print("$"*40)
        print("********** HAPPY SHOPPING COME AGAIN!! **********")
        repeat = input("DO YOU WANT TO GO ANOTHER CUSTOMER (YES/NO): ").upper()
        if repeat == "NO":
            break


super_market()

A:- MAGGIE
B:- PARLE-G
C:-WATER BOTTLE
D:- POTATO CHIPS
E:- MILK

Enter the name of Customer :   ronii

ENTER THE ITEM AND QUANTITY

ENTER THE ITEM :  a
ENTER THE QUANTITY OF THE ITEM :  5
DO YOU WANT TO ADD MORE ITEM (YES/NO) :  yes

ENTER THE ITEM AND QUANTITY

ENTER THE ITEM :  c
ENTER THE QUANTITY OF THE ITEM :  2
DO YOU WANT TO ADD MORE ITEM (YES/NO) :  yes

ENTER THE ITEM AND QUANTITY

ENTER THE ITEM :  e
ENTER THE QUANTITY OF THE ITEM :  5
DO YOU WANT TO ADD MORE ITEM (YES/NO) :  no

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Name : RONII
The total Bill is 501.5
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
********** HAPPY SHOPPING COME AGAIN!! **********

DO YOU WANT TO GO ANOTHER CUSTOMER (YES/NO):  yes

A:- MAGGIE
B:- PARLE-G
C:-WATER BOTTLE
D:- POTATO CHIPS
E:- MILK

Enter the name of Customer :   tony

ENTER THE ITEM AND QUANTITY

ENTER THE ITEM :  a
ENTER THE QUANTITY OF THE ITEM :  1
DO YOU WANT TO ADD MORE ITEM (YES/NO) :  no

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Name : TONY
The total Bill is 40
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
********** HAPPY SHOPPING COME AGAIN!! **********

DO YOU WANT TO GO ANOTHER CUSTOMER (YES/NO):  no

In [5]:
a = "Why fit in, When you are Born to Stand Out!"
print(a)
print(len(a))

Why fit in, When you are Born to Stand Out!
43

In [6]:
print(a.count("o"))

3

In [7]:
print(a.upper())
print(a.lower())

WHY FIT IN, WHEN YOU ARE BORN TO STAND OUT!
why fit in, when you are born to stand out!

In [8]:
print(a.title())

Why Fit In, When You Are Born To Stand Out!

In [10]:
print(a.find("fit in"))

4

In [14]:
for n in range(1,6):
    for m in range(1,6):
        print(m, end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [15]:
for n in range(1,6):
    for m in range(1,n+1):
        print(m, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
for n in range(1,6):
    for m in range(1,n+1):
        print("#", end=" ")
    print()

#
# #
# # #
# # # #
# # # # #

In [17]:
for n in range(1,6):
    for m in range(1,n+1):
        print(n, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
for n in range(1,6):
    for m in range(6,n,-1):
        print(n, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [22]:
# check the sting
def check_string():
    string = input("Enter to check it's STRING TYPE : ")
    alnum = string.isalnum()
    alpha = string.isalpha()
    decimal = string.isdecimal()
    digit = string.isdigit()
    numeric = string.isnumeric()
    lower = string.islower()
    upper = string.isupper()
    space = string.isspace()
    title = string.istitle()
    if alnum == True and alpha == True and lower == True :
        print(f"{string} have 3 string methods :- \n1.isalnum() \n2.isalpha \n3.islower()")
    elif alnum == True and alpha == True and upper == True :
        print(f"{string} have 3 string methods :- \n1.isalnum() \n2.isalpha \n3.isupper()")
    elif alnum == True and alpha == False and lower == True :
        print(f"{string} have 2 string methods :- \n1.isalnum() \n2.islower()")
    elif alnum == False and alpha == False and lower == True :
        print(f"{string} have 1 string methods :- \n1.islower()")
    elif alnum == True and alpha == False and upper == True :
        print(f"{string} have 2 string methods :- \n1.isalnum() \n2.isupper()")
    elif alnum == False and alpha == False and upper == True :
        print(f"{string} have 1 string methods :- \n1.isupper()")
    elif alnum == True and decimal == True and digit == True and numeric == True:
        print(f"{string} have 4 string methods :- \n1.isalnum() \n2.isdecimal \n3.isdigit() \n4.isnumeric()")
    elif alnum == True and title == True :
        print(f"{string} have 2 string methods :- \n1.isalnum() \n2.istitle()")
    elif alnum == False and title == True :
        print(f"{string} have 1 string methods :- \n1.istitle()")
    elif upper == True and title == True :
        print(f"{string} have 2 string methods :- \n1.istitle() \n2.isupper()")
    elif space == True :
        print(f"{string} have 1 string methods :- \n1.isspace() ")
    elif alnum == False and alpha == False and decimal == False and digit == False and numeric == False and lower == False and upper == False and space == False and title == False :
        print(f"{string} have not come under any string method")

check_string()

Enter to check it's STRING TYPE :  123q

123q have 2 string methods :-
1.isalnum()
2.islower()

In [24]:
def fibonaci():
    number = int(input("Enter Number You Want To Show Fibonaci Series : "))
    a = 0 
    b = 1
    for n in range(1,number+1):
        print(a)
        
        a,b = b,a+b

fibonaci()

Enter Number You Want To Show Fibonaci Series :  10

0
1
1
2
3
5
8
13
21
34

In [2]:
import subron

In [3]:
ab = subron.adding(2,5)
print(ab)

7

In [4]:
import subron as su
ba = subron.cars["Name"]
print(ba)

AttributeError: module 'subron' has no attribute 'cars'

In [2]:
def list_swap():
    list = ["subham", "RONII", "Ankush", "santhosh", 28 , 27 , 29, 22]
    print()
    print(list)
    print()
    first = int(input("From where (1-8) : "))-1
    last = int(input("to where (1-8): "))-1
    list[first],list[last] = list[last],list[first]
    print()
    print(list)

list_swap()

['subham', 'RONII', 'Ankush', 'santhosh', 28, 27, 29, 22]

From where (1-8) :  2
to where (1-8):  5

['subham', 28, 'Ankush', 'santhosh', 'RONII', 27, 29, 22]

In [4]:
def list_insert():
    list = ["subham", "RONII", "Ankush", "santhosh", 28 , 27 , 29, 22]
    print()
    print(list)
    print()
    enter = input("Enter the word : ")
    index = int(input("Enter the position you want : "))+1
    list.insert(index,enter)
    print()
    print(list)

list_insert()

['subham', 'RONII', 'Ankush', 'santhosh', 28, 27, 29, 22]

Enter the word :  rout
Enter the position you want :  3

['subham', 'RONII', 'Ankush', 'rout', 'santhosh', 28, 27, 29, 22]

In [12]:
def list_remove():
    lists = ["subham", "RONII", "Ankush", "santhosh", 28 , 27 , 29, 22]
    print()
    print(lists)
    print()
    enter = int(input("Enter the position in the list : "))-1
    lists.pop(enter)
    print()
    print(lists)

list_remove()

['subham', 'RONII', 'Ankush', 'santhosh', 28, 27, 29, 22]

Enter the position in the list :  3

['subham', 'RONII', 'santhosh', 28, 27, 29, 22]

In [17]:
def list_math():
    numbers = [1,2,3,4,5,6,7,8,9,10]
    add = 0
    for nums in numbers :
        add += nums
    print(add)
    print()
    numbers1 = [1,2,3,4,5]
    mul = 1
    for nums1 in numbers1:
        mul *= nums1
    print(mul)
    print()
    numbers2 = [2,4,6,12,18,20,14,8]
    dvd = 2
    for nums2 in numbers2 :
        did = nums2 // dvd
        print(did, end=" ")

list_math()

55

120

1 2 3 6 9 10 7 4

In [21]:
def list_sort():
    a = int(input("Enter first number :"))
    b = int(input("Enter second number : "))
    c = int(input("Enter third number : "))
    d = int(input("Enter forth number : "))
    e = int(input("Enter fifth number : "))
    print()
    numbers = [a,b,c,d,e]
    print(numbers)
    print()
    numbers.sort()
    print(numbers)
    print("*"*40)
    aa = input("Enter first fruit :")
    bb = input("Enter second fruit : ")
    cc = input("Enter third fruit : ")
    dd = input("Enter forth fruit : ")
    ee = input("Enter fifth fruit : ")
    print()
    numbers1 = [aa,bb,cc,dd,ee]
    print(numbers1)
    print()
    numbers1.sort
    print(numbers1)

list_sort()

Enter first number : 11
Enter second number :  34
Enter third number :  2
Enter forth number :  56
Enter fifth number :  10

[11, 34, 2, 56, 10]

[2, 10, 11, 34, 56]
****************************************

Enter first fruit : banana
Enter second fruit :  apple
Enter third fruit :  watermellon
Enter forth fruit :  orange
Enter fifth fruit :  grapes

[2, 10, 11, 34, 56]

['banana', 'apple', 'watermellon', 'orange', 'grapes']

In [1]:
3+3.5

6.5