In [42]:
#LEN IS USED FOR TO FING CHARACTER LENGHT
name = "subham"
print(len(name))
print(name)

6
subham

In [14]:
full_name = 'subham rout'
print(len(full_name))
print(full_name)

11
subham rout

In [4]:
#slicing of the string >>> using [:]
# positive indexing starts from left to right and counting starts from 0 to 1,2,3,4 ... numbers
# negative indexing starts from right to left and counting starts from -1 to -2,-3,-4 ... numbers

In [8]:
print(name[2])

b

In [10]:
print(name[5])

m

In [12]:
print(name[1])

u

In [13]:
print(name[0])

s

In [14]:
print(name[-1])

m

In [15]:
print(name[-6])

s

In [8]:
name

'subham'

In [9]:
print(name[0:4])

subh

In [13]:
print(name[0:-3])

sub

In [15]:
print(full_name[0:-3])

subham r

In [16]:
print(full_name[-8:-3])

ham r

In [18]:
full_name

'subham rout'

In [19]:
#[start:end:step] here we are skipikng the characters

In [21]:
new_name = 'ABCDEFIGKLMNOPQRST'
print(type(new_name))
print(new_name)

<class 'str'>
ABCDEFIGKLMNOPQRST

In [22]:
print(new_name[0::2])

ACEIKMOQS

In [23]:
print(new_name[0::3])

ADILOR

In [24]:
print(new_name[1::2])

BDFGLNPRT

In [25]:
print(new_name[1::3])

BEGMPS

In [28]:
print(new_name[0::2])

ACEIKMOQS

In [30]:
# using []slicing in the list[]
list_1 = [1,2,3,4,"one","two","three","four",1.5,2.5,3.5,4.5,1+2j,2+2j,3+2j]
print(type(list_1))
print(list_1)

<class 'list'>
[1, 2, 3, 4, 'one', 'two', 'three', 'four', 1.5, 2.5, 3.5, 4.5, (1+2j), (2+2j), (3+2j)]

In [31]:
print(list_1[4])

one

In [33]:
print(list_1[0:5])

[1, 2, 3, 4, 'one']

In [34]:
print(list_1[1:-5])

[2, 3, 4, 'one', 'two', 'three', 'four', 1.5, 2.5]

In [35]:
print(list_1[0::2])

[1, 3, 'one', 'three', 1.5, 3.5, (1+2j), (3+2j)]

In [36]:
print(list_1[1::2])

[2, 4, 'two', 'four', 2.5, 4.5, (2+2j)]

In [37]:
# using []slicing in the tuple()
tuple_1 = (1,2,3,4,"one","two","three","four",1.5,2.5,3.5,4.5,[1+2j,2+2j,3+2j])
print(type(tuple_1))
print(tuple_1)

<class 'tuple'>
(1, 2, 3, 4, 'one', 'two', 'three', 'four', 1.5, 2.5, 3.5, 4.5, [(1+2j), (2+2j), (3+2j)])

In [38]:
print(tuple_1[4])

one

In [141]:
print(tuple_1[0:6])

(1, 2, 3, 4, 'one', 'two')

In [46]:
#looping through string using .. for .. loop
for a in name:
 print(a)

s
u
b
h
a
m

In [48]:
for b in full_name:
    print(b)
    print(type(b))

s
<class 'str'>
u
<class 'str'>
b
<class 'str'>
h
<class 'str'>
a
<class 'str'>
m
<class 'str'>

<class 'str'>
r
<class 'str'>
o
<class 'str'>
u
<class 'str'>
t
<class 'str'>

In [49]:
for c in new_name:
    print(c)

A
B
C
D
E
F
I
G
K
L
M
N
O
P
Q
R
S
T

In [50]:
for d in "suresh":
    print(d)

s
u
r
e
s
h

In [51]:
for e in 'mamata rout':
    print(e)

m
a
m
a
t
a

r
o
u
t

In [52]:
#check string  or  not
txt = " my name is subham rout . i am doing a DA cource from skill circle"
print(txt)
print("subham" in txt)

 my name is subham rout . i am doing a DA cource from skill circle
True

In [54]:
print(txt)
print("ronii" not in txt)

 my name is subham rout . i am doing a DA cource from skill circle
True

In [55]:
print(txt)
print("rout" not in txt)

 my name is subham rout . i am doing a DA cource from skill circle
False

In [56]:
if "DA cource" in txt:
    print("correct")

correct

In [57]:
tst = [1,2,3,4,5,6,7,8,9]
print(type(tst))
print(tst)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
print(1 in tst)

True

In [59]:
print(0 in tst)

False

In [62]:
print(1,4,0 in tst)

1 4 False

In [61]:
print(8,9 in tst)

8 True

In [63]:
print(2,5,9 in tst)

2 5 True

In [64]:
if 1 in tst:
    print(input("your name = "))

your name =  subham rout

subham rout

In [69]:
if 2 in tst:
 print(float(input("your height = ")))

your height =  8.9

8.9

In [73]:
if 2 in tst:
 print(name)

subham

In [74]:
if 0 not in tst:
    print('hello')

hello

In [76]:
if 9 not in tst:
    print("world!")

In [77]:
print(0 not in tst)

True

In [78]:
print(1 not in tst)

False

In [79]:
if "doing" not in txt:
    print("true")

In [80]:
if "doing" in txt:
    print("true")

true

In [81]:
print("subham" in txt)

True

In [82]:
print("mamta" not in txt)

True

In [83]:
print("subham" not in txt)

False

In [84]:
print("mamta" in txt)

False

In [85]:
a = 'subham rout'
A = 'RONII CAMIIN'
print(a,A)

subham rout RONII CAMIIN

In [86]:
#change character into lower to upper  and upper to lower
print(a.upper())
print(A.lower())

SUBHAM ROUT
ronii camiin

In [87]:
#removing extra space in sting useing ... strip() .. function
b = "  my name   is anthony   gonsalvis    . me duniya me   akela hu"
print(b)

  my name   is anthony   gonsalvis    . me duniya me   akela hu

In [89]:
print(b.strip())

my name   is anthony   gonsalvis    . me duniya me   akela hu

In [90]:
c = "  dil b h kali, ghar b h khali  "
print(c)
print(c.strip())

  dil b h kali, ghar b h khali
dil b h kali, ghar b h khali

In [92]:
#using ... replace ... function to replace the character in the strings
d = "tony ne sony ka j.sony thod diya taa"
print(d)
print(d.replace("t","m"))

tony ne sony ka j.sony thod diya taa
mony ne sony ka j.sony mhod diya maa

In [97]:
print(d.replace("sony","ronii"))

tony ne ronii ka j.ronii thod diya taa

In [154]:
#split("") .. function for spliting the characters
f = "focus on ,own world"
g = "messi is goat"
h = (1,2,3,4,5,6)
i = ("india is the" , "greatest country")
print(f)
print(f)
print(h)
print(type(h))
print(i)
print(type(i))

focus on ,own world
focus on ,own world
(1, 2, 3, 4, 5, 6)
<class 'tuple'>
('india is the', 'greatest country')
<class 'tuple'>

In [100]:
print(f.split(","))

['focus on ', 'own world']

In [101]:
print(g.split(" "))

['messi', 'is', 'goat']

In [145]:
print(h.split(","))

AttributeError: 'tuple' object has no attribute 'split'

In [152]:
print(i.split(","))

AttributeError: 'tuple' object has no attribute 'split'

In [105]:
print(d.split(" "))

['tony', 'ne', 'sony', 'ka', 'j.sony', 'thod', 'diya', 'taa']

In [112]:
#format {} .. funtion use for enter valuues from other variable in the stings

#date_of_birth_generator 
date_1 = 30
month_1 = 7
year_1 = 1996
DOB = "MY DOB IS {}DATE {}MONTH {}YEAR"
print(DOB)
print(DOB.format(date_1,month_1,year_1))

MY DOB IS {}DATE {}MONTH {}YEAR
MY DOB IS 30DATE 7MONTH 1996YEAR

In [123]:
#roll number generator
dateofjoing = 11
birthyear = 1996
roll_number = "your ROLL NUMBER IS {1}{0}"
print(roll_number)
print(roll_number.format(dateofjoing, birthyear))

your ROLL NUMBER IS {1}{0}
your ROLL NUMBER IS 199611

In [127]:
city = 'jabalpur'
pincode = 482020
f"my city is {city.upper()}! and pincode is = {pincode}"

'my city is JABALPUR! and pincode is = 482020'

In [129]:
#using backlash \
z = " i am from 'odisha' state."
y = ' we are speaks "odia" in odisha.'
u = " do you learn \"english\" from school."

In [131]:
print(z)
print(y)
print(u)

 i am from 'odisha' state.
 we are speaks "odia" in odisha.
 do you learn "english" from school.

In [133]:
#change the line of the string using .... \n ..
k = "my name is \nsubham rout \ni live in jabalpur \nm.p india"
print(k)

my name is
subham rout
i live in jabalpur
m.p india

In [138]:
#Strings can be concatenated (glued together) with the + operator, and repeated with *:
4*'su'+'se'

'sususususe'

In [139]:
'subh''am'

'subham'

In [140]:
"ro""ut"

'rout'