In [7]:
#Python String capitalize() Method
#Upper case the first letter in this sentence
a='ronii camiin'
print(a)
print(a.capitalize())

ronii camiin
Ronii camiin

In [6]:
b="papa nhi manege"
c=b.capitalize()
print(c)

Papa nhi manege

In [15]:
#Python String casefold() Method
ab='My Name is KHAN'
print(ab)
print(ab.lower())

My Name is KHAN
my name is khan

In [16]:
bc="What Is Your NAME"
print(bc)
print(bc.casefold())

What Is Your NAME
what is your name

In [18]:
#center()
txt = "subham"
print(txt.center(20))

       subham

In [20]:
#center(lenght,"character")
print(txt.center(20,"i"))

iiiiiiisubhamiiiiiii

In [22]:
print(txt.center(10,"2"))

22subham22

In [25]:
#count("charcter")
tx = "my name is subham , what is your name ?"
print(tx)
print(tx.count("name"))

my name is subham , what is your name ?
2

In [26]:
print(tx.count("is"))

2

In [32]:
print(tx.count("name",4,10))

0

In [33]:
#endswith("")
tst = "where are you from ?"
print(tst.endswith("?"))

True

In [34]:
print(tst.endswith("from ?"))

True

In [35]:
print(tst.endswith("."))

False

In [36]:
if tst.endswith("?"):
    print("correct")

correct

In [37]:
print(tst.endswith("?",0,10))

False

In [38]:
print(tst.endswith("?",5,100))

True

In [41]:
print(tst.endswith("?",2,))

True

In [43]:
#expandtabs() 
txt = "s\tu\tb\th\ta\tm"
print(txt)
tst = "ronii"
print(tst)

s	u	b	h	a	m
ronii

In [44]:
print(txt.expandtabs())
print(tst.expandtabs())

s       u       b       h       a       m
ronii

In [45]:
print(tst.expandtabs(10))

ronii

In [46]:
print(txt.expandtabs(11))

s          u          b          h          a          m

In [47]:
print(txt.expandtabs(2))

s u b h a m

In [48]:
#find("")
tct = "tu janta ha mera baap kon h ?"
print(tct.find("janta"))

3

In [49]:
print(tct.find("m"))

12

In [50]:
print(tct.find("k",5,3))

-1

In [1]:
# the output is -1 because its not found "k" in the given string address

In [52]:
print(tct.find("k",5,30))

22

In [53]:
print(tct.find("p",5,))

20

In [54]:
#format_map()
my_dict = {"name": "John", "age": 30}

# Format the string using the mapping
formatted_string = "My name is {name} and I am {age} years old.".format_map(my_dict)

# Print the formatted string
print(formatted_string)

My name is John and I am 30 years old.

In [56]:
tst= {"city":"jabalpur","pincode":482020}
state = " I am from {city} and the pincode its serve {pincode} .".format_map(tst)
print(tst)
print(type(tst))
print(state)

{'city': 'jabalpur', 'pincode': 482020}
<class 'dict'>
 I am from jabalpur and the pincode its serve 482020 .

In [57]:
state = " I am from {city} and the pincode its serve {pincode} ."
print(state.format_map(tst))

 I am from jabalpur and the pincode its serve 482020 .

In [60]:
#index("")  FUNCUTIOn
pop = "i am gonna run daily in the morning"
print(pop)
print(pop.index("run"))

i am gonna run daily in the morning
11

In [62]:
#becoz the index valuue is not found its showing error .. on like find() that shows -1 when value not found
print(pop.index("ruun"))

ValueError: substring not found

In [63]:
print(pop.index("run",2,30))

11

In [65]:
print(pop.index("run",15,30))

ValueError: substring not found

In [66]:
print(pop.index("run",2,))

11

In [99]:
#isalnum() Method
txt = "Comapny12"
print(type(txt))
print(txt)

<class 'str'>
Comapny12

In [100]:
print(txt.islanum())

AttributeError: 'str' object has no attribute 'islanum'

In [89]:
z = txt.islanum()
print(z)

AttributeError: 'str' object has no attribute 'islanum'

In [82]:
#isalpha() Method
abc = "subhAM"
print(abc)
print(type(abc))
print(abc.isalpha())

subhAM
<class 'str'>
True

In [83]:
abd = "subhAM rout"
print(abd)
print(type(abd))
print(abc.isalpha())

subhAM rout
<class 'str'>
True

In [84]:
ebd = "subhAM1rout"
print(ebd)
print(type(ebd))
print(abc.isalpha())

subhAM1rout
<class 'str'>
True

In [85]:
x = ebd.isalpha()
print(x)

False

In [94]:
#isdecimal() method
qw = "123"
print(qw.isdecimal())
print(type(qw))

True
<class 'str'>

In [93]:
wq = "abc.5"
print(wq.isdecimal())

False

In [95]:
#isdigit() Method
er = 1234
print(type(er))
print(er)
print(er.isdigit())

<class 'int'>
1234

AttributeError: 'int' object has no attribute 'isdigit'

In [97]:
er = '1234'
print(er.isdigit())
print(type(er))

True
<class 'str'>

In [98]:
re = "12we"
print(re.isdigit())

False

In [102]:
#isidentifier()
qaz = "subham_rout001"
zaq = "12ronii"
aqz = "subham rout"
zqa = "_subham"
print(qaz.isidentifier())
print(zaq.isidentifier())
print(aqz.isidentifier())
print(zqa.isidentifier())

True
False
False
True

In [1]:
# islower()
a = "Subham"
b = 'SUBHAM'
print(a.lower())
print(b.lower())

subham
subham

In [2]:
# isnumeric()
c = 12346
d = '2345'
e = '345abc'
f = e + a
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(f.isnumeric())

AttributeError: 'int' object has no attribute 'isnumeric'

In [3]:
# isnumeric()
c = '12346'
d = '2345'
e = '345abc'
f = e + a
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(f.isnumeric())

True
True
False
False

In [4]:
# istitle
a = "My name is Subham Rout"
b = "I Am Living In Jabalpur"
print(a.istitle())
print(b.istitle())

False
True

In [7]:
# isspace
b = "IAmLivingInJabalpur"
c = ""
d = " "
e = [" "]
print(a.isspace())
print(b.isspace())
print(c.isspace())
print(d.isspace())
print(e.isspace())

False
False
False
True

AttributeError: 'list' object has no attribute 'isspace'

In [12]:
# join()
alist = ('a', 'b', 'c', 'd')
print(alist)
cp = "!"
print(cp.join(alist))

('a', 'b', 'c', 'd')
a!b!c!d

In [14]:
blist = ['a', 'b', 'c', 'd', 1, 2, 3, 23+2j, 2.44]
print(blist)
print(type(blist))
sp = "*"
print(sp.join(blist))

['a', 'b', 'c', 'd', 1, 2, 3, (23+2j), 2.44]
<class 'list'>

TypeError: sequence item 4: expected str instance, int found

In [15]:
blist = ['a', 'b', 'c', 'd', 1, 2, 3, 23+2j, 2.44]
print(blist)
print(type(blist))
blist = str(blist)
sp = "*"
print(sp.join(blist))

['a', 'b', 'c', 'd', 1, 2, 3, (23+2j), 2.44]
<class 'list'>
[*'*a*'*,* *'*b*'*,* *'*c*'*,* *'*d*'*,* *1*,* *2*,* *3*,* *(*2*3*+*2*j*)*,* *2*.*4*4*]

In [16]:
# partition()
a = "My name is Subham Rout"
print(a.partition("is"))

('My name ', 'is', ' Subham Rout')

In [17]:
a = "My name is Subham Rout"
print(a.partition(3)) #index nunber

TypeError: must be str, not int

In [23]:
# repalce()
ab = " i will pay basket ball in ball court "
print(ab)
print(ab.repalce("basket", "volley"))

 i will pay basket ball in ball court

AttributeError: 'str' object has no attribute 'repalce'

In [24]:
# swapcase()
ab = " i will pay basket ball in ball court "
print(ab)
print(ab.swapcase())

 i will pay basket ball in ball court
 I WILL PAY BASKET BALL IN BALL COURT

In [26]:
ab = "I Will Pay BasKet bAll in baLl cOUrt "
print(ab)
print(ab.swapcase())

I Will Pay BasKet bAll in baLl cOUrt
i wILL pAY bASkET BaLL IN BAlL CouRT