# Ask for the user’s first name and display the output message

In [1]:
first_name = input("What's Your Name = ")
print("Hello ", first_name.title())

What's Your Name =  subham

Hello  Subham

In [3]:
import sys
print(sys.version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

# 002 Ask for the user’s first name and then ask for their surname and display the output

In [37]:
first_name1 = input("What's Your Name = ")
Sur_name = input("What's Your Surname = ")
print("Hello ",first_name1.title(), Sur_name.title())

What's Your Name =  suresh
What's Your Surname =  rout

Hello  Suresh Rout

# 003 Write code that will display the joke “What do you call a bear with no teeth?” and on the next line display the answer “A gummy bear!”

In [32]:
print("What do you call a bear with no teeth?,\nA gummy bear!")

What do you call a bear with no teeth?,
A gummy bear!

# 004 Ask the user to enter two numbers. Add them together and display the answer as

In [36]:
num_1 = int(input())
num_2 = int(input())
print("The Total Answer Is",num_1+num_2)

 10
 23

The Total Answer Is 33

# 005 Ask the user to enter three numbers. Add together the first two numbers and then multiply this total by the third.

In [39]:
num_3 = int(input())
num_4 = int(input())
num_5 = int(input())
print("The Answer Is",(num_3+num_4)*num_5)

 2
 2
 10

The Answer Is 40

# 006 Ask how many slices of pizza the user started with and ask how many slices they have eaten. Work out how many slices they have left and display the answer in a user-friendly format.

In [41]:
ask_1 = int(input("How Many Slices of Pizza Are In The Starting ? "))
ask_2 = int(input("How Many Slices Have You Eaten ? "))
print("The Total Slices Remains Are ", ask_1 - ask_2)

How Many Slices of Pizza Are In The Starting ?  6
How Many Slices Have You Eaten ?  4

The Total Slices Remains Are  2

# 007 Ask the user for their name and their age. Add 1 to their age and display the output

In [42]:
Name_1 = str(input("What Is Your Name ? "))
Age_1 = int(input("What is Your Current Age ? "))
print(Name_1.title(),"next birthday you will be",Age_1 + 1)

What Is Your Name ?  subham rout
What is Your Current Age ?  27

Subham Rout next birthday you will be 28

# 008 Ask for the total price of the bill, then ask how many diners there are. Divide the total bill by the number of diners and show how much each person must pay.

In [43]:
Bill_1 = int(input("Total Price Of The Bill ? "))
Dinners_1 = int(input("How Many Diners There Are ? "))
print("Each Person Must Pay ",Bill_1 / Dinners_1)

Total Price Of The Bill ?  1500
How Many Diners There Are ?  5

Each Person Must Pay  300.0

# 009 Write a program that will ask for a number of days and then will show how many hours, minutes and seconds are in that number of days.

In [46]:
Days_1 = int(input("Enter the number of days? "))
hours_1 = Days_1 * 24
minutes_1 = hours_1 * 60
seconds_1 = minutes_1 * 60
print(f"In {Days_1} Days, there are:" ,f"{hours_1} hours", f"{minutes_1} minutes", f"{seconds_1} seconds")

Enter the number of days?  30

In 30 Days, there are: 720 hours 43200 minutes 2592000 seconds

In [47]:
Days_1 = int(input("Enter the number of days? "))
hours_1 = Days_1 * 24
minutes_1 = hours_1 * 60
seconds_1 = minutes_1 * 60
print("In",Days_1," Days,there are")
print(hours_1, "hours")
print(minutes_1, "minutes")
print(seconds_1, "seconds")

Enter the number of days?  30

In 30  Days,there are
720 hours
43200 minutes
2592000 seconds

# 010 There are 2,204 pounds in a kilogram. Ask the user to enter a weight in kilograms and convert it to pounds.

In [48]:

Pounds_1 = 2.204
weight_kg1 = float(input("Enter Weight In Kilograms ? "))
convert_1 = weight_kg1 * Pounds_1
print(weight_kg1,"kilograms is equal to",convert_1, "pounds.")
print(f"{weight_kg1} kilograms is equal to {convert_1} pounds.")

Enter Weight In Kilograms ?  50

50.0 kilograms is equal to 110.2 pounds.
50.0 kilograms is equal to 110.2 pounds.

# 011 Task the user to enter a number over 100 and then enter a number under 10 and tell them how many times the smaller number goes into the larger number in a user-friendly format.

In [6]:
Number_1 = int(input("Enter A Number Over 100"))
Number_1 >= 100
Number_2 = int(input("Enter A Number Under 10"))
Number_2 <= 10
times_1 = Number_1 // Number_2
print(times_1 ,"times" ,Number_2, "goes into", Number_1)

Enter A Number Over 100 120
Enter A Number Under 10 5

24 times 5 goes into 120

In [8]:
5*24

120